header {
    position: relative;
    width: 100%;
    min-height: 90px;
    background-color: #111;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 #222, 0 6px 20px 0 #333;
}

h1.logo {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    min-width: 15%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid #ddd;
    letter-spacing: 1px;
    color: #ddd;
    text-shadow: 1px 1px 3px #ccc;
    pointer-events: none;
}

nav.main {
    position: absolute;
    top: 50%;
    left: 20%;
    right: 80%;
    transform: translateY(-50%);
    margin: 0 auto 0 0;
    min-width: 70%;
    line-height: 100%;
}

nav.main ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    list-style-type: none;
    font-size: 20px;
}

nav.main ul li {
    margin-right: 15px;
}

nav.main ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ddd;
    text-transform: uppercase;
    font-weight: 700;
    transition: .5s;
}

nav.main ul li a:hover {
    transform: translateY(-10px);
}

nav.main ul li a.active {
    transform: translateY(0);
    color: green;
}

button.log {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 40px;
    color: #ddd;
    border: none;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

button.log:hover {
    color: rgb(0, 255, 13);
}

/* LANDSCAPE */

@media (max-width: 1100px) and (orientation: landscape) {
    h1.logo {
        font-size: 24px;
        min-width: 10%;
    }

}

@media (max-width: 1024px) and (orientation: landscape) {
    nav.main ul {
        font-size: 45px;
        justify-content: center;
    }

    nav.main ul li {
        margin-right: 17px;
    }
}

@media (max-width: 864px) and (orientation: landscape) {
    nav.main ul {
        font-size: 32px;
        justify-content: center;
    }
}

@media (max-width: 568px) and (orientation: landscape) {
    h1.logo {
        font-size: 20px;
        min-width: 8%;
    }
    
    nav.main ul {
        font-size: 24px;
        justify-content: center;
    }
}


/* PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
    nav.main ul {
        font-size: 45px;
        justify-content: center;
    }

    nav.main ul li {
        margin-right: 25px;
    }
}

@media (max-width: 650px) and (orientation: portrait) {
    h1.logo {
        font-size: 20px;
        min-width: 10%;
    }

    nav.main ul {
        font-size: 35px;
        justify-content: center;
    }

    nav.main ul li {
        margin-right: 25px;
    }
}

@media (max-width: 540px) and (orientation: portrait) {
    h1.logo {
        font-size: 18px;
        min-width: 10%;
    }

    nav.main ul {
        font-size: 28px;
        justify-content: center;
    }

    nav.main ul li {
        margin-right: 20px;
    }

    button.log {
        font-size: 26px;
    }
}

@media (max-width: 415px) and (orientation: portrait) {
    h1.logo {
        font-size: 14px;
    }

    nav.main ul {
        font-size: 22px;
        justify-content: center;
    }

    nav.main ul li {
        margin-right: 18px;
    }

    button.log {
        font-size: 18px;
    }
}

@media (max-width: 376px) and (orientation: portrait) {
    h1.logo {
        font-size: 9px;
    }

    nav.main ul {
        font-size: 19px;
        justify-content: center;
    }

    nav.main ul li {
        margin-right: 15px;
    }

    button.log {
        font-size: 15px;
    }
}

@media (max-width: 321px) and (orientation: portrait) {
    h1.logo {
        font-size: 7px;
    }

    nav.main ul {
        font-size: 21px;
        justify-content: center;
    }

    nav.main ul li {
        margin-right: 5px;
    }

    button.log {
        font-size: 15px;
    }
}

@media (max-width: 281px) and (orientation: portrait) {
    h1.logo {
        font-size: 7px;
    }

    nav.main ul {
        font-size: 14px;
        justify-content: center;
    }

    nav.main ul li {
        margin-right: 10px;
    }

    button.log {
        font-size: 12px;
    }
}
